@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FFCB9A, #D8B08C);
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 2%;
    box-shadow: 5px 5px 15px #685544;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #0F6466;
    text-align: center;
    text-shadow: 1px 1px 2px #093b3bcb;
}

h2{
  color: #a1c7bf;  
}